<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">
    <title>A Verse for Barric</title>

    <!-- PhotoSwipe -->
    <link rel="stylesheet" href="/css/photoswipe.css">
    <!-- Skin CSS file (styling of UI - buttons, caption, etc.)
     In the folder of skin CSS file there are also:
     - .png and .svg icons sprite, 
     - preloader.gif (for browsers that do not support CSS animations) -->
    <link rel="stylesheet" href="/css/default-skin.css">
    <!-- Core JS file -->
    <script src="/js/photoswipe.min.js"></script>
    <!-- UI JS file -->
    <script src="/js/photoswipe-ui-default.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/index.css">

    <!-- JS -->
    <script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
    <script src="/js/index-min.js"></script>
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/dracula.min.css">
      <script src="/js/highlight.pack.js"></script>

    <!-- Fonts -->

    <!-- Icons -->

    <!-- RSS -->

</head>
<header>
    <img src="/images/hero_video.png" width="550" />
</header>
<section>
    <h2 class="desc">A sorrowful tale set in a hand-crafted world <b>where tower defense meets real time tactics.</b></h2>
    <ul id="nav" class="nav">
        <li>
          <a href="/" class="{{ if eq .Page.Title "A Verse For Barric" }}selected{{ end }}">T<span>HE</span> G<span>AME</span></a> 
          <span class="space">&middot;</span>
        </li>
        <li>
          <a href="/motion" class="{{ if eq .Page.Title "Motion Graphics" }}selected{{ end }}">M<span>otion</span> G<span>raphics</span></a> 
          <span class="space">&middot;</span>
        </li>
        <li>
          <a href="/illustrations" class="{{ if eq .Page.Title "Illustrations" }}selected{{ end }}">I<span>llustrations</span></a> 
          <span class="space">&middot;</span>
        </li>
        <li>
          <a href="/animations" class="{{ if eq .Page.Title "Animations" }}selected{{ end }}">A<span>nimations</span></a> 
          <span class="space">&middot;</span>
        </li>
        <li>
          <a href="/soundtrack" class="{{ if eq .Page.Title "Soundtrack" }}selected{{ end }}">S<span>oundtrack</span></a> 
          <span class="space">&middot;</span>
        </li>
        <li>
          <a href="/code" class="{{ if eq .Page.Title "Code" }}selected{{ end }}">C<span>ode</span></a>
        </li>
    </ul>
</section>