<div class="toc">

<ul>
	<li><a href="/#nav"  class="{{ if eq .Page.Description "Home" }}selected{{ end }}">Overview</a></li>
	<li><a href="/overview/progression/notes/#nav" class="{{ if eq .Page.Description "Progression" }}selected{{ end }}">Units & Their Progression</a></li>
	<ul class="submenu {{ if eq .Page.Description "Progression" }}selected{{ end }}">
		<li><a href="/overview/progression/friendly/#nav">{{ if eq .Page.Title "Friendly Units" }}&middot; {{ end }}Friendly Units</a></li>
		<li><a href="/overview/progression/enemy/#nav">{{ if eq .Page.Title "Enemy Units" }}&middot; {{ end }}Enemy Units</a></li>
		<li><a href="/overview/progression/boss/#nav">{{ if eq .Page.Title "Boss Units" }}&middot; {{ end }} Boss Units</a></li>
	</ul>
	<li><a href="/overview/interface/scenes/#nav" class="{{ if eq .Page.Description "Interface" }}selected{{ end }}">Interface & Scenes</a></li>
	<ul class="submenu {{ if eq .Page.Description "Interface" }}selected{{ end }}">
		<li><a href="/overview/interface/map/#nav">{{ if eq .Page.Title "World Map" }}&middot; {{ end }}World Map</a></li>
		<li><a href="/overview/interface/camp/#nav">{{ if eq .Page.Title "Camp" }}&middot; {{ end }}Camp</a></li>
		<li><a href="/overview/interface/actionbar/#nav">{{ if eq .Page.Title "Combat UI" }}&middot; {{ end }}Combat UI</a></li>
	</ul>
	<li><a href="/overview/abilities/stou/#nav" class="{{ if eq .Page.Description "Magic" }}selected{{ end }}">Magic Abilities</a></li>
	<ul class="submenu {{ if eq .Page.Description "Magic" }}selected{{ end }}">
		<li><a href="/overview/abilities/aggressive/#nav">{{ if eq .Page.Title "Aggressive Spells" }}&middot; {{ end }}Aggressive Spells</a></li>
		<li><a href="/overview/abilities/protective/#nav">{{ if eq .Page.Title "Protective Spells" }}&middot; {{ end }}Protective Spells</a></li>
		<li><a href="/overview/abilities/watchful/#nav">{{ if eq .Page.Title "Watchful Spells" }}&middot; {{ end }}Watchful Spells</a></li>
		<li><a href="/overview/abilities/controlling/#nav">{{ if eq .Page.Title "Controlling Spells" }}&middot; {{ end }}Controlling Spells</a></li>
	</ul>
	<li><a href="/overview/cutscenes/story/#nav" class="{{ if eq .Page.Description "Cutscenes" }}selected{{ end }}">Story & Cutscenes</a></li>
		<ul class="submenu {{ if eq .Page.Description "Cutscenes" }}selected{{ end }}">
			<li><a href="/overview/cutscenes/scene1/#nav">{{ if eq .Page.Title "Intro : Scene 1" }}&middot; {{ end }}Intro : Scene 1</a></li>
			<li><a href="/overview/cutscenes/scene2/#nav">{{ if eq .Page.Title "Intruder : Scene 2" }}&middot; {{ end }}Intruder : Scene 2</a></li>
			<li><a href="/overview/cutscenes/scene3/#nav">{{ if eq .Page.Title "Distraction : Scene 3" }}&middot; {{ end }}Distraction : Scene 3</a></li>
			<li><a href="/overview/cutscenes/scene4/#nav">{{ if eq .Page.Title "Decision : Scene 4" }}&middot; {{ end }}Decision : Scene 4</a></li>
			<li><a href="/overview/cutscenes/scene5/#nav">{{ if eq .Page.Title "Siege : Scene 5" }}&middot; {{ end }}Siege : Scene 5</a></li>
			<li><a href="/overview/cutscenes/scene6/#nav">{{ if eq .Page.Title "Warning : Scene 6" }}&middot; {{ end }}Warning : Scene 6</a></li>
			<li><a href="/overview/cutscenes/scene7/#nav">{{ if eq .Page.Title "Betrayal : Scene 7" }}&middot; {{ end }}Betrayal : Scene 7</a></li>
			<li><a href="/overview/cutscenes/scene8/#nav">{{ if eq .Page.Title "Crossroads : Scene 8" }}&middot; {{ end }}Crossroads : Scene 8</a></li>
			<li><a href="/overview/cutscenes/scene9/#nav">{{ if eq .Page.Title "Fjord : Scene 9" }}&middot; {{ end }}Fjord : Scene 9</a></li>
			<li><a href="/overview/cutscenes/scene10/#nav">{{ if eq .Page.Title "BroDown : Scene 10" }}&middot; {{ end }}BroDown : Scene 10</a></li>
			<li><a href="/overview/cutscenes/scene11/#nav">{{ if eq .Page.Title "Camp : Scene 11" }}&middot; {{ end }}Camp : Scene 11</a></li>
			<li><a href="/overview/cutscenes/scene12/#nav">{{ if eq .Page.Title "Showdown : Scene 12" }}&middot; {{ end }}Showdown : Scene 12</a></li>
			<li><a href="/overview/cutscenes/scene13/#nav">{{ if eq .Page.Title "Victory : Scene 13" }}&middot; {{ end }}Victory : Scene 13</a></li>
		</ul>
	<li><a href="/overview/levels/level1/#nav" class="{{ if eq .Page.Description "Level" }}selected{{ end }}">Combat Levels</a></li>
	<ul class="submenu {{ if eq .Page.Description "Level" }}selected{{ end }}">
		<li><a href="/overview/levels/level1/#nav">{{ if eq .Page.Title "Level 1 : Forest" }}&middot; {{ end }}Level 1 : Forest</a></li>
		<li><a href="/overview/levels/level2/#nav">{{ if eq .Page.Title "Level 2 : Hills" }}&middot; {{ end }}Level 2 : Hills</a></li>
		<li><a href="/overview/levels/level3/#nav">{{ if eq .Page.Title "Level 3 : City (Boss)" }}&middot; {{ end }}Level 3 : City (Boss)</a></li>
		<li><a href="/overview/levels/level3a/#nav">{{ if eq .Page.Title "Level 3a : Change of Plans" }}&middot; {{ end }}Level 3a : Change of Plans</a></li>
		<li><a href="/overview/levels/level4/#nav">{{ if eq .Page.Title "Level 4 : Border" }}&middot; {{ end }}Level 4 : Border</a></li>
		<li><a href="/overview/levels/level5/#nav">{{ if eq .Page.Title "Level 5 : Desert" }}&middot; {{ end }}Level 5 : Desert</a></li>
		<li><a href="/overview/levels/level6/#nav">{{ if eq .Page.Title "Level 6 : Oasis (Boss)" }}&middot; {{ end }}Level 6 : Oasis (Boss)</a></li>
		<li><a href="/overview/levels/level7/#nav">{{ if eq .Page.Title "Level 7 : Foothills" }}&middot; {{ end }}Level 7 : Foothills</a></li>
		<li><a href="/overview/levels/level7a/#nav">{{ if eq .Page.Title "Level 7a : Crossroads" }}&middot; {{ end }}Level 7a : Crossroads</a></li>
		<li><a href="/overview/levels/level8/#nav">{{ if eq .Page.Title "Level 8 : Mountain" }}&middot; {{ end }}Level 8 : Mountain</a></li>
		<li><a href="/overview/levels/level9/#nav">{{ if eq .Page.Title "Level 9 : Fjord (Boss)" }}&middot; {{ end }}Level 9 : Fjord (Boss)</a></li>
		<li><a href="/overview/levels/level10/#nav">{{ if eq .Page.Title "Level 10 : Farm" }}&middot; {{ end }}Level 10 : Farm</a></li>
		<li><a href="/overview/levels/level11/#nav">{{ if eq .Page.Title "Level 11 : Camp" }}&middot; {{ end }}Level 11 : Camp</a></li>
		<li><a href="/overview/levels/level12/#nav">{{ if eq .Page.Title "Level 12 : Castle (Boss)" }}&middot; {{ end }}Level 12 : Castle (Boss)</a></li>
	</ul>
	<li><a href="/overview/decisions/all/#nav" class="{{ if eq .Page.Description "Decisions" }}selected{{ end }}">Player Decisions</a></li>
	<li><a href="/overview/travel/dialogue/#nav" class="{{ if eq .Page.Description "Travel" }}selected{{ end }}">Travel Dialogue</a></li>
</ul>

</div>