<section class="wikiNav">
<ul><a href="/">Game Overview</a>
	<li><a href="/overview/ideas/">Idea Dump</a></li>
	<li><a href="/overview/tech/">Tech Notes</a></li>
</ul>

<ul><a href="/">Progression</a>
	<li><a href="/overview/gameplay/">Gameplay Progression</a></li>
	<li><a href="/overview/friendly/">Friendly Unit Progression</a></li>
	<li><a href="/overview/enemy/">Enemy Unit Progression</a></li>
	<li><a href="/overview/boss/">Boss Unit Progression</a></li>
</ul>

<ul><a href="/">User Interface</a>
	<li><a href="/overview/map/">World Map</a></li>
</ul>

<ul><a href="/">Stou's Abilities</a>
	<li><a href="/overview/aggressive/">Aggressive Spells</a></li>
	<li><a href="/overview/protective/">Protective Spells</a></li>
	<li><a href="/overview/watchful/">Watchful Spells</a></li>
	<li><a href="/overview/controlling/">Controlling Spells</a></li>
</ul>

<ul>Cutscenes
<li><a href="/overview/cutscenes/scene1/">Intro : Scene 1</a></li>
<li><a href="/overview/cutscenes/scene2/">Intruder : Scene 2</a></li>
<li><a href="/overview/cutscenes/scene3/">Distraction : Scene 3</a></li>
<li><a href="/overview/cutscenes/scene4/">Decision : Scene 4</a></li>
<li><a href="/overview/cutscenes/scene5/">Siege : Scene 5</a></li>
<li><a href="/overview/cutscenes/scene6/">Warning : Scene 6</a></li>
<li><a href="/overview/cutscenes/scene7/">Betrayal : Scene 7</a></li>
<li><a href="/overview/cutscenes/scene8/">Crossroads : Scene 8</a></li>
<li><a href="/overview/cutscenes/scene9/">Fjord : Scene 9</a></li>
<li><a href="/overview/cutscenes/scene10/">BroDown : Scene 10</a></li>
<li><a href="/overview/cutscenes/scene11/">Camp : Scene 11</a></li>
<li><a href="/overview/cutscenes/scene12/">Showdown : Scene 12</a></li>
<li><a href="/overview/cutscenes/scene13/">Victory : Scene 13</a></li>
</ul>

<ul>Levels
<li><a href="/overview/levels/level1/">Level 1 : Forest</a></li>
<li><a href="/overview/levels/level2/">Level 2 : Hills</a></li>
<li><a href="/overview/levels/level3/">Level 3 : City (Boss)</a></li>
<li><a href="/overview/levels/level3a/">Level 3a : Change of Plans</a></li>
<li><a href="/overview/levels/level4/">Level 4 : Border</a></li>
<li><a href="/overview/levels/level5/">Level 5 : Desert</a></li>
<li><a href="/overview/levels/level6/">Level 6 : Oasis (Boss)</a></li>
<li><a href="/overview/levels/level7/">Level 7 : Foothills</a></li>
<li><a href="/overview/levels/level7a/">Level 7a : Crossroads</a></li>
<li><a href="/overview/levels/level8/">Level 8 : Mountain</a></li>
<li><a href="/overview/levels/level9/">Level 9 : Fjord (Boss)</a></li>
<li><a href="/overview/levels/level10/">Level 10 : Farm</a></li>
<li><a href="/overview/levels/level11/">Level 11 : Camp</a></li>
<li><a href="/overview/levels/level12/">Level 12 : Castle (Boss)</a></li>
</ul>

<ul>Decisions
<li><a href="/overview/decisions/newgame/">New Game : Magic Choice</a></li>
<li><a href="/overview/decisions/warmachine/">War Machine</a></li>
<li><a href="/overview/decisions/hand/">Helping Hand</a></li>
<li><a href="/overview/decisions/diversion/">Cassandra Diversion</a></li>
<li><a href="/overview/decisions/ranged/">Ranged Help</a></li>
<li><a href="/overview/decisions/spearmen/">Spearmen</a></li>
<li><a href="/overview/decisions/planning/">Siege Planning</a></li>
<li><a href="/overview/decisions/loot/">Loot City</a></li>
<li><a href="/overview/decisions/support/">Friendly Support</a></li>
<li><a href="/overview/decisions/cassandra/">Cassandra Leaves</a></li>
<li><a href="/overview/decisions/traps/">Traps</a></li>
<li><a href="/overview/decisions/giant/">Giant</a></li>
<li><a href="/overview/decisions/rest/">Rest or Party</a></li>
</ul>

<ul>Travel Dialogue
<li><a href="/overview/travel/1to2/">Level 1 to Level 2</a></li>
<li><a href="/overview/travel/2to3/">Level 2 to Level 3</a></li>
<li><a href="/overview/travel/3to3a/">Level 3 to Level 3a</a></li>
<li><a href="/overview/travel/3ato4/">Level 3a to Level 4</a></li>
<li><a href="/overview/travel/4to5/">Level 4 to Level 5</a></li>
<li><a href="/overview/travel/5to6/">Level 5 to Level 6</a></li>
<li><a href="/overview/travel/6to7/">Level 6 to Level 7</a></li>
<li><a href="/overview/travel/7to8/">Level 7 to Level 8</a></li>
<li><a href="/overview/travel/8to9/">Level 8 to Level 9</a></li>
<li><a href="/overview/travel/9to10/">Level 9 to Level 10</a></li>
<li><a href="/overview/travel/10to11/">Level 10 to Level 11</a></li>
<li><a href="/overview/travel/11to12/">Level 11 to Level 12</a></li>
</ul>
</section>