<section class="wikiNav">
<ul><a href="/">Game Overview</a>
	<li><a href="/overview/ideas/">Idea Dump</a></li>
	<li><a href="/overview/tech/">Tech Notes</a></li>
</ul>

<ul><a href="/">Progression</a>
	<li><a href="/overview/gameplay/">Gameplay Progression</a></li>
	<li><a href="/overview/friendly/">Friendly Unit Progression</a></li>
	<li><a href="/overview/enemy/">Enemy Unit Progression</a></li>
	<li><a href="/overview/boss/">Boss Unit Progression</a></li>
</ul>

<ul><a href="/">User Interface</a>
	<li><a href="/overview/map/">World Map</a></li>
</ul>

<ul><a href="/">Stou's Abilities</a>
	<li><a href="/overview/aggressive/">Aggressive Spells</a></li>
	<li><a href="/overview/protective/">Protective Spells</a></li>
	<li><a href="/overview/watchful/">Watchful Spells</a></li>
	<li><a href="/overview/controlling/">Controlling Spells</a></li>
</ul>
</section>