@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@keyframes crossbow {
 100% {
   background-position: -960px;
 }
}

.crossbow {
    background-image: url(/images/Crossbow.png);
    background-repeat: no-repeat;
    width: 130px;
    height: 120px;
    animation: crossbow .7s steps(8) infinite;
    display: block;
}

@keyframes ryler {
 100% {
   background-position: -1782px;
 }
}

.ryler {
    background-image: url(/images/Ryler.png);
    background-repeat: no-repeat;
    width: 223px;
    height: 200px;
    animation: ryler .7s steps(8) infinite;
    display: block;
    margin: 0px 50px;
}

@keyframes idiri {
 100% {
   background-position: -1230px;
 }
}

.idiri {
    background-image: url(/images/Idiri.png);
    background-repeat: no-repeat;
    width: 136px;
    height: 120px;
    animation: idiri .7s steps(9) infinite;
    display: block;
}

@keyframes cat {
 100% {
   background-position: -768px;
 }
}

.cat {
    background-image: url(/images/Cat.png);
    background-repeat: no-repeat;
    width: 48px;
    height: 58px;
    animation: cat .7s steps(16) infinite;
    display: block;
}

@keyframes rhino {
 100% {
   background-position: -1078px;
 }
}

.rhino {
    background-image: url(/images/Rhino.png);
    background-repeat: no-repeat;
    width: 137px;
    height: 200px;
    animation: rhino .7s steps(8) infinite;
    display: block;
        margin: 0px 100px;

}

@keyframes spearmen {
 100% {
   background-position: -1261px;
 }
}

.spearmen {
    background-image: url(/images/Spearmen.png);
    background-repeat: no-repeat;
    width: 160px;
    height: 120px;
    animation: spearmen .7s steps(8) infinite;
    display: block;
    margin-bottom: -45px;
}

@keyframes trebuchet {
 100% {
   background-position: -1774px;
 }
}

.trebuchet {
    background-image: url(/images/Trebuchet.png);
    background-repeat: no-repeat;
    width: 150px;
    height: 200px;
    animation: trebuchet .7s steps(12) infinite;
    display: block;
}

@keyframes melee1 {
 100% {
   background-position: -512px;
 }
}

.melee1 {
    background-image: url(/images/Melee1Sprite.png);
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    animation: melee1 .7s steps(8) infinite;
    display: block;
}

