@import "modules/typography.scss";
@import "modules/constants.scss";
@import "modules/layout.scss";
@import "modules/animations.scss";
@import "modules/form.scss";


@mixin flex() {
   	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

html {
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0 auto;
	padding: 0px;
	background-color: $purple;
}

header {
	background-image: url("/images/header_full.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1996px auto;
	height: 711px;
	background-color: $blue;
}

header img {
	display: block;
	margin: 0px auto 0px auto;
	padding-top: 315px;
}

/*----------------------- Game Description ------------------------------ */

.desc {
	margin-top: 50px;
	margin-left: -30px;
	margin-bottom: 20px;
	width: 100%;
	text-align: center;
	color: $light;
	font-weight: 100;
	///font-size: 36px;
}

.desc b {
	display: block;
	color: $pink;
	font-weight: 100;
	margin-right: -100px;
}

/*----------------------- Navigation Styles ------------------------------ */

ul.nav {
	padding-left: 0px;
	list-style:none;
	margin: 50px auto 0px auto;
	display: block;
	text-align: center;
	color: $orange;
	font-weight: 100;
	font-size: 26px;
	font-family: "Wallington Pro";
	text-transform: uppercase;

}

ul.nav li {
	display: inline-block;
}

ul.nav li span {
	font-size: 20px;
}

ul.nav li .space {
	padding: 0px 10px;
}

ul.nav li a {
	text-decoration: none;
}



/*----------------------- Specific Layout ------------------------------ */

.left {
	float: left;
}

.nomargin {
	margin: 0px !important;
}

.soundcloud {
	margin: 75px 0px 0px 15px; 
	clear:both;
}

.my-gallery {
	@include flex();
	width: 100%;
	flex-wrap: wrap;
	margin-top: 10px;
}

.my-gallery figure {
	margin: 5px;
}

.before-after {
	@include flex();
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
	margin-top: 10px;
}

.before-after figure {
	width: 50%;
	margin:25px 0px 0px 0px;
}

.before-after .quarter {
	width: 25%;
}

.before-after .third {
	width: 33%;
}

.before-after .last {
	width: 100%;
	margin-top: -10px;
}

.frameworks {
	width: 100%;
	margin-top: 40px;
}

.framework {
	text-align:left;
	width: 40%;
	color: #fff;
	@extend %clearfix;
	float: left;
	display: block;
	padding-right: 30px;
}

.frameworks li {
	color: #FFF;
}

.framework a {
	margin-top: 30px;
	font-size: 80%;
}

.framework b {
	font-size: 110%;
	padding: 10px 0px;
}

.framework span {
	text-decoration: none !important;
	color: $white;
	font-size: 90%;
	display: block;
}

.frameworks pre {
	margin-left: 10px;
	margin-top: 0px;
	padding: 0px 0px 0px 15px;
	width: 100%;
}

.frameworks code {
	background-color: #251721;
}