/*----------------------- Misc ------------------------------ */

$maxWidth: 1080px;

/*----------------------- Colors ------------------------------ */

$purple: #2F1D29;

$blue: #BCDCC4;

$orange: #D85C49;

$light: #F8E9D6;

$pink: #E6ADA8;

$white: #FFFFFF;
