@import "constants.scss";
@import "animations.scss";

/// Credit: https://css-tricks.com/media-queries-sass-3-2-and-codekit/
@mixin breakpoint($point) {
    @if $point==large-screen {
        @media (min-width: 1200px) {
            @content;
        }
    }
    @else if $point==normal-screen {
        @media (min-width: 1080px) {
            @content;
        }
    }
    @else if $point==tablet-screen {
        @media (min-width: 50em) {
            @content;
        }
    }
    @else if $point==condensed-screen {
        @media (min-width: 35em) {
            @content;
        }
    }
}

.container {
    margin: 0px auto;
    max-width: $maxWidth;
    padding: 0px 10px;

    @include breakpoint(condensed-screen) {
        padding: 0px 30px;
        padding-left: env(safe-area-inset-left);
        padding-right: env(safe-area-inset-right);
    }


    @include breakpoint(condensed-screen) {
        padding: 0px 30px;
    }


    @include breakpoint(normal-screen) {
        padding: 0px 30px;
    }


    @include breakpoint(large-screen) {
        padding: 0px 10px;
    }
}

@mixin flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

/// Use with @extend %clearfix
%clearfix {
    *zoom: 1;

    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}


/*----------------------- Links ------------------------------ */

a {
    color: $orange;
}

a:hover {
    color: $blue
}


/*----------------------- Header Layout ------------------------------ */

header {
    background-image: url("/images/header_full.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1996px auto;
    height: 711px;
    background-color: $blue;
}

header.partial {
    background-image: url("/images/header.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1996px auto;
    height: 468px;
    background-color: $blue;
    text-align: center;
}

header img {
    display: block;
    margin: 0px auto 0px auto;
    padding-top: 315px;
}

header.partial img {
    padding: 0px;
    margin-left: -88px !important;
    display: inline-block;
}


/*----------------------- Core Layout ------------------------------ */

article {
    max-width: $maxWidth;
    margin: 0 auto 50px auto;
}

p.first {
    margin-top: 1rem;
}

p.clear {
    @extend %clearfix;
}

figure {
    margin: 25px;
}

.outtake {
    margin: 25px 0px;
}

figcaption {
    color: $blue;
    font-size: 0.7em;
}

/*----------------------- Wiki Layout ------------------------------ */

section.wikiNav {
    float: left;
    width: 20%;
    overflow: hidden;
    display: none;
}

article.wiki {
    width: 100%;
}

article.wiki h5 {
    margin-top: 50px;
}

article.wiki .emoji {
    margin-right: 15px;
    padding: 5px 5px 0px 5px;
    font-size: 130%;
    background-color: $darkPurple;
    margin-top: -3px;
    display: block;
    float: left;
    border-radius: 5px;
}

article.wiki .overview p:nth-child(even) {
    margin: 15px 0px 50px 55px;
    width: 95%;
}

.toc {
    float: right;
    width: 30%;
    background: $darkPurple;
    border-radius: 5px;
    margin-left: 25px;
    margin-bottom: 25px;
}

.toc ul {
    list-style: none;
}

.toc a {
    text-decoration: none;
}

.toc a.selected {
    font-weight: bold;
    color: $pink;
}

.submenu {
    font-size: 90%;
    margin-bottom: 15px;
    display: none;
}

.submenu.selected {
    display: block;
}

.wikiNav ul {
    margin-left:0px;
    padding-left:0px;
    list-style: none;

    li {
        margin-left: 25px;
    }
}

table {
    color: #FFF;
    width: 100%;
    font-size: 80%;
    text-align: center;
}

table {
    border-spacing: 5px;
    border-collapse: separate;
    border-bottom: 2px solid $darkPurple;
}

table, th, td {
    ///border: 1px solid #fff;
}

th {
    background-color: $darkPurple;
    margin: 5px;
    border-radius: 5px;
}

td {
    margin: 5px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.magic th:first-child {
    background: none;
}

.magic th {
    width: 25%;
}

.magic table {
     border-spacing: 10px;
    border-bottom: none;
    margin-top: -50px;
}

.magic table img {
    margin-top: 25px;
}

.magic h5 {
    margin-top: 100px !important;
}

.attributes {
    @include flex();
    width: 100%;
    flex-wrap: wrap;
    margin-top:25px;

    :nth-child(even) {
        margin-right: 0px;
    }
}

.attribute {
    width: 39%;
    margin: 2% 2% 0px 0px;
    background-color: $darkPurple;
    border-radius: 5px;
    padding: 2% 5%;
}

.attribute b {
    color: $pink;
}

.attribute p {
    margin-top: 0px;
}

.attribute img {
    float: left;
    display: block;
    padding: 25px 25px 25px 0px;
}

img.unit {
  padding: 25px 50px;
}

.circle {
    background-color: #fff;
    color: $darkPurple;
    border-radius: 50%;
    display: inline-block;
    width: 38px;
    height: 38px;
    margin-top: 50px;
    text-align: center;
    vertical-align: center;
}

.decisions .circle {
    margin-right: 15px;
}

.decisions strong {
    color: $pink;
}

.cutscenes .container {
    @include flex();
    @extend %clearfix;
    width: 100%;
    margin-top: 30px;
}

.cutscenes blockquote {
    width: 95%;
    display: inline-block;
}

p.bubble {
    padding-top: 60px;
}

div.bubble {
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    background-size: 75%;
    text-align: center;
    background-position: center;
}

.alfricBubble {
    background-image: url("/images/wiki/bubbles/AlfricBubble.png");
}

.stouBubble {
    background-image: url("/images/wiki/bubbles/StouBubble.png");
}

.barricBubble {
    background-image: url("/images/wiki/bubbles/BarricBubble.png");
}

.peasantBubble {
    background-image: url("/images/wiki/bubbles/PeasantBubble.png");
}

.cassandraBubble {
    background-image: url("/images/wiki/bubbles/PrincessBubble.png");
}

.archerBubble {
    background-image: url("/images/wiki/bubbles/Archer2Bubble.png");
}

.rhinoBubble {
    background-image: url("/images/wiki/bubbles/RhinoBubble.png");
}

/*----------------------- Jazzy Layout ------------------------------ */

.content-wrapper {
    margin: 0 auto;
    max-width: $maxWidth;
    @extend %clearfix;
}

article.main-content {
    width: 77%;
    padding-left: 3%;
    float: left;
}

.docs .nav {
    margin: 25px 0px;
}

nav.sidebar {
    float: left;
    width: 20%;
    overflow: hidden;
}

nav.sidebar ul {
    list-style: none;
    font-size: 90%;
}

.nav-groups {
    padding-left: 0px;
}

p.coverage {
    width: 20%;
    float: left;
    text-align: right;
}

#breadcrumbs {
    float: left;
    width: 80%;
}

.section-name {
    text-decoration: none !important;
}

.height-container {
    display: none;
    left: -25px;
    padding-bottom: 0;
    margin-top: -15px;
    margin-left: 15px;
}

article ul {
    color: #fff;
}

.task-group ul {
    list-style: none;
    margin-top:5px;
    margin-bottom: 25px;
    color: #fff;
}

article.main-content p {
    margin-top:5px;
}

article.main-content pre {
    margin-left: 0px;
    margin-top: 15px;
    padding: 0px 0px 0px 0px;
    width: 100%;
}

article.main-content code {
    background-color: #251721;
}

.nobg {
    background: none !important;
}

.abstract {
    margin-top: 25px;
}