{{ define "main" -}}
<article>
  <h3>Still Under Development</h3>
  <figure class="left">
    <img src="/images/Logo-256.png" width="150" />
  </figure>
  <p class="first">This game started out as a <a href="http://battleofbrothers.com">one year competition</a>, but evolved into much more than that. Years later, it is still a mountainous task. Instead of dreading the endless march, I've decided to celebrate what has been accomplished so far with this site. Please browse the links above to see the incredible contributions from talented people, and if I make any major progress I'll keep this site updated with the latest.</p>
</article>

<div class="content-wrapper">

{{ partial "wiki.html" . }}

<p style="width:100%; text-align:center;"><b>Everything in this wiki contains spoilers.</b></p>

<article class="wiki">

	{{ partial "toc.html" . }}

	<h4>Game Overview</h4>

	<p>I've gathered every decision about the game such as character appearances, strengths, dialogue, levels, and so on in a wiki like structure found on this page. Each features implementation status is noted. Having all of this written down and organized removes a barrier to entry for development -- I don't have to remember where I left off. Below you can read through the entire game in sequential order. Or, you can jump to various sections using the table of contents to the right.</p>

	<p>The following events occur in order when the user starts a new campaign from the main menu.</p>

	<div class="overview">
		{{ .Content }}
	</div>

</article>

</div>

{{- end }}

